<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Redlight User Testing Environment</title>
        <link rel="stylesheet" href="../styles/style.css">
    </head>
    <body>

        <div class="phone">
            <img src="../pictures/find_device_found.png" usemap="#workmap">
        </div>

        <div class="device">
            <img src="../pictures/device_off.png" id="device" onmousedown="mouseDown()" onmouseup="mouseUp()">
        </div>

        <map name="workmap">
            <area shape="rect" coords="42,52,118,90" href="../index.html">
            <area shape="rect" coords="245,235,312,270" href="home_off_OFF.html">
        </map>

        <script>
            function mouseDown() {
                document.getElementById("device").src = "../pictures/device_on.png";
            }

            function mouseUp() {
                document.getElementById("device").src = "../pictures/device_off.png";
            }
        </script>

    </body>
</html>
