<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Redlight User Testing Environment</title>
        <link rel="stylesheet" href="../styles/style.css">
    </head>
    <body>

        <div class="phone">
            <img src="../pictures/find_device_not_found.png" usemap="#workmap">
        </div>

        <div class="device" >
            <img src="../pictures/device_off.png" usemap="#devicemap" class="button" id="device">
        </div>

        <map name="workmap">
            <area shape="rect" coords="42,52,118,90" href="../index.html">
        </map>

        <map name="devicemap">
            <area shape="circle" coords="190,235,190" href="find_deviceDF_OFF.html">
        </map>

       

    </body>
</html>
