<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Redlight User Testing Environment</title>
        <link rel="stylesheet" href="../styles/style.css">
    </head>
    <body>

        <div class="phone">
            <img src="../pictures/home_off.png" usemap="#workmap">
        </div>

        <div class="device">
            <img src="../pictures/device_off.png" usemap="#devicemap">
        </div>

        <map name="workmap">
            <area shape="rect" coords="39,360,325,490" href="settings_OFF.html">
            <area shape="rect" coords="275,325,330,347" href="settings_OFF.html">
            <area shape="rect" coords="123,300,238,345" href="home_on_ON.html">
            <area shape="circle" coords="180,200,80" href="home_on_ON.html">
        </map>

        <map name="devicemap">
            <area shape="circle" coords="190,235,190" href="home_on_ON.html">
        </map>

    </body>
</html>
