<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Redlight User Testing Environment</title>
        <link rel="stylesheet" href="../styles/style.css">
    </head>
    <body>

        <div class="phone">
            <img src="../pictures/settings.png" usemap="#workmap">
        </div>

        <div class="device">
            <img src="../pictures/device_off.png" usemap="#devicemap">
        </div>

        <map name="workmap">
            <area shape="rect" coords="42,52,118,90" href="home_off_OFF.html">
            <area shape="rect" coords="240,165,312,195" href="../index.html">
        </map>

        <map name="devicemap">
            <area shape="circle" coords="190,235,190" href="settings_ON.html">
        </map>

    </body>
</html>
