.phone {
    display: inline-block;
    margin-left: 300px;
    border-style: dashed;
}
.phone > img {
    width: 75%;
    padding: 0px;
}

.device {
    display: inline-block;
    border-style: dashed;
}

.device > img {
    width: 75%;
}

.device:hover .button{
    document.getElementById("button").src = "../pictures/device_on.png";
}

